*{
    font-family: Arial;
}
body{
    margin: 0;
    padding: 0;
    background: #262525;
    background:-moz-linear-gradient(90deg,#111111,#333131);
    background: -o-linear-gradient(90deg,#111111,#333131);
    background: -webkit-linear-gradient(90deg,#111111,#333131);
    background: linear-gradient(90deg,#111111,#333131); 
}
header{
    height: 70px;
    display: flex;
    justify-content: center;
    background: #262525;
    background:-moz-linear-gradient(90deg,#3c3744b8,#0a369d8c,#1a936f8c);
    background: -o-linear-gradient(90deg,#3c3744b8,#0a369d8c,#1a936f8c);
    background: -webkit-linear-gradient(90deg,#3c3744b8,#0a369d8c,#1a936f8c);
    background: linear-gradient(90deg,#3c3744b8,#0a369d8c,#1a936f8c);
    
}
.container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 1500px;
}
#imglogo{
    width: 70px;
}
figure a{
    display: block;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: #ffffff9e;
}
nav a:hover{
    color: #1a936f;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e2e;
    background:-moz-linear-gradient(90deg,#2e2e2e,#111111);
    background: -o-linear-gradient(90deg,#2e2e2e,#111111);
    background: -webkit-linear-gradient(90deg,#2e2e2e,#111111);
    background: linear-gradient(90deg,#2e2e2e,#111111); 
    width: 1500px;
    text-align: center;
    border: solid 1px #262525;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
label{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-group .h{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu .link{
    font-size: 13px;
}
.form-control{
    padding: 10px;
    width: 500px;
    outline: 0;
    text-align: center;
    border: 1px solid #3c3744b8;
    border-radius: 5px;
}
.btn-primary{
    color: #ffffff;
    margin: 20px;
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid #1a936f;
    background: #1a936f;
    font-weight: bold;
}
.btn-primary:hover{
    border: 1px solid #0a369d;
    background-color: #0a369d;
}
.h{
    color: #FFFFFF;
    text-align: center;
}
@media (max-width:1440px){
    .container{
        width: 1400px;
    }
    .login{
        width: 1400px;
    }
}
@media (max-width:1024px){
    .container{
        width: 984px;
    }
    .login{
        width: 984px;
    }
}
@media (max-width:768px){
    .container{
        width: 728px;
    }
    .login{
        width: 728px;
    }
    .link{
        font-size: 12px;
    }

}
@media (max-width:425px){
    .container{
        width: 385px;
    }
    .login{
        width: 385px;
    }
    .text{
        width: 300px;
    }
    .link{
        font-size: 12px;
    }
}
@media (max-width:375px){
    .container{
        width: 335px;
    }
    .login{
        width: 335px;
    }
    .text{
        width: 280px;
    }
    .link{
        font-size: 12px;
    }
}
@media (max-width:320px){
    .container{
        width: 280px;
    }
    .login{
        width: 280px;
    }
    .text{
        width: 150px;
    }
    .link{
        font-size: 12px;
        width: 100px;
    }
}